@import "variables.scss";

//colors
$color_0: #bf2e1a;
$color_1: #231f20;
$white: #ffffff;
$color_3: #4c4c4c;
$color_4: #454545;

%extend_1 {
	padding: 10px 10px 10px 45px;
	border: 1px solid;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	width: 345px;
}


body {
	background-image: url("#{$image-path}/login_bg.jpg");
	background-size: cover;
	height: 100%;
}
html {
	height: 100%;
}
.vertical-center {
	min-height: 100vh;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.head {
	height: 130px;
	border-bottom: 2px solid $color_0;
	background: 70px 20px url("#{$image-path}/login_logo.png");
	background-repeat: no-repeat;
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 78px;
	span {
		&:nth-of-type(2) {
			color: $color_1;
		}
		&:first-of-type {
			color: $color_0;
		}
	}
}
.form {
	padding: 20px;
	text-align: left;
}
.container {
	background-color: $white;
	max-width: 400px;
	height: 390px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	padding: 0;
}
td {
	padding: 5px;
}
.username {
	background: 10px url("#{$image-path}/user_icon.png");
	background-repeat: no-repeat;
}
.password {
	background: 10px url("#{$image-path}/password_icon.png");
	background-repeat: no-repeat;
}
input[type=text] {
	@extend %extend_1;
}
input[type=password] {
	@extend %extend_1;
}
input[type=button] {
	border: 1px solid;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	padding: 10px;
	width: 170px;
	color: $white;
	float:left;
}
.btn-sign {
	background: $color_3;
	margin-right: 5px;
}
.btn-login {
	background: $color_0;
}
select {
	padding: 5px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	min-width: 100px;
}
a {
	color: $color_4;
	text-decoration: underline;
}