//Application color variables
$theme-highlight-bgColor:#B40E00;
$theme-nav-bgColor:#333333;
$theme-nav-fontColor:#ffffff;
$theme-navhover-bgColor:#222222;
$theme-logedUserName-fontColor:#001FFF;

//Application Path variables
$image-path: "../../img";